Olá, <strong>{{ deliveryman_name }}</strong>
<p>A encomenda já está pronta para retirada, segue os detalhes</p>
<p>
  <strong>Destinatário: </strong> {{ recipient_name }} <br />
  <strong>Cep: </strong> {{ recipient_postcode }} <br />
  <strong>Rua: </strong> {{ recipient_street }} <br />
  <strong>Número: </strong> {{ recipient_number }} <br />
  <strong>Cidade: </strong> {{ recipient_city }} <br />
  <strong>Estado: </strong> {{ recipient_state }} <br />
</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
</p>
